<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notissu">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for fetching feed data. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splach.View.SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" />

        <provider
            android:name=".SyncAdapter.RSSProvider"
            android:authorities="com.notissu"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".SyncAdapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".SyncAdapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".UpdatePeriod.View.UpdatePeriodActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".DeleteKeyword.View.DeleteKeywordActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".WithUs.WithUsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".AboutLibraries.AboutLibrariesActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Search.View.SearchActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fa0977a1de019e67313d89ce2eafc3bf19577da4" />
    </application>

</manifest>