<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notissu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Splach.View.SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Main.View.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UI.UpdatePeriod.View.UpdatePeriodActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UI.DeleteKeyword.View.DeleteKeywordActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UI.WithUs.WithUsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UI.AboutLibraries.AboutLibrariesActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UI.Search.View.SearchActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".UI.NoticeDetail.View.NoticeDetailActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fa0977a1de019e67313d89ce2eafc3bf19577da4" />
    </application>

</manifest>